VITE_APP_TITLE=Simple Chatbot
VITE_SERVER_URL=http://0.0.0.0:4321 #optional: if serving frontend externally from backend, or requesting agent from API
VITE_SERVER_AUTH= # JWT token for backend
VITE_OPEN_MIC=1 # Can the user speak freely, or do they need to wait their turn? 
#VITE_USER_VIDEO= #Does the app require the user's webcam?
VITE_SHOW_CONFIG=1 # Show demo config options first
VITE_CHAT_BOT=DailyBot # select chat bot name to use